{% extends 'base/create_base.html' %}
{% load staticfiles %}

{% block extrastyle %}
    <!-- Openlayers 4 -->
    <link rel="stylesheet" href="{% static 'vendors/openlayers4/ol.css' %}"/>
{% endblock %}

{% block create-title %}
    Find Temperature For Location
{% endblock %}

{% block create-submit %}
    Show Temperature
{% endblock %}

{% block create-footer %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'info' %}
                {{ message | safe }}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block create-content %}
    <div id="map-container" class="row invisible">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div id="map" class="map"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <!-- Openlayers 4 -->
    <script src="{% static 'vendors/openlayers4/ol.js' %}"></script>
    <script src="{% static 'assets/map.js' %}"></script>

    {{ block.super }}
{% endblock %}
